<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <h1>The Data {{.}}</h1>
    {{/* the doe in a template is to recieve the data from nested template
          aka polarbear.gohtml*/}}
    {{template "polarbear" .}}
  </body>
</html>
