{{define "polarbear"}}
{{/* The {{.}} is reciving data from template execute runctions and now it
     can be used in the index.gohtml in nexted template */}}
Here is my polarbear template {{.}}
{{end}}
