<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    {{range .}}
      {{.Name}}
      {{.Capital}}

      {{range .Cities}}
        {{.Name}}
        {{.Population}}
      {{end}}

    {{end}}
  </body>
</html>
